
{% extends 'indexadmin.html' %}
{% block body %}
                            <center>
                                <h4 class="text-black mb-md-4">Palakunnu Kazhakam Sree Bhagavati Kshethram</h4>
                            </center>

<img style="height:550px;width:1600px;" src="./static/img/bg1.jpeg" alt="Image">
<body>
<!--<form id="form1" name="form1" method="post" action="">-->
<!--  <table width="200" border="1" >-->
<!--    <tr>-->
<!--      <td><p><a href="user_manage">VERIFY USER</a></p>-->
<!--&lt;!&ndash;          <p><a href="view_user_manage">VIEW VERIFIED USER</a></p>&ndash;&gt;-->
<!--          <p><a href="mng_committee">ADD &amp; MANAGEMENT COMMITTEE</a></p>-->
<!--&lt;!&ndash;        <p><a href="view_add_committee">VIEW COMMITTEE</a></p>&ndash;&gt;-->
<!--        <p><a href="mng_aud_booking"> AUDITORIUM BOOKING</a></p>-->
<!--        <p><a href="view_verified_booking">ADVANCE PAYMENT ON BOOKING</a></p>-->

<!--        <p><a href="manage_auditorium">MANAGE AUDITORIUM</a></p>-->
<!--        <p><a href="view_reports_auditorium">VIEW REPORTS OF AUDITORIUM</a></p>-->
<!--        <p><a href="tmp_pgm_page">ADD PROGRAMS OF TEMPLE</a></p>-->
<!--        <p><a href="#">HISTORY</a></p>-->

<!--        <p><a href="admin_view_videos">ADD AND MANAGE VIDEOS</a></p>-->
<!--        <p><a href="/">LOGOUT</a></p></td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</form>-->
</body>
{% endblock %}
