
{% extends 'indexcommittee.html' %}
{% block body %}
                    <img style="height:550px;width:1600px;" src="./static/img/bg1.jpeg" alt="Image">

<head><h1><center> WELCOME TO {{val1.committee_name}} COMMITTEE </center></h1></head>

<body>

<!--<form id="form1" name="form1" method="post" action="">-->
<!--  <table width="200" border="1">-->
<!--    <tr>-->
<!--      <td><p><a href="verify_members">VERIFY MEMBER </a></p>-->
<!--          <p><a href="verified_members">VIEW VERIFIED MEMBER </a></p>-->
<!--          <p><a href="about_chitti">ABOUT CHITTI </a></p>-->
<!--          <p><a href="chitti_details_mbr">CHITTI DETAILS OF MEMBERS </a></p>-->
<!--          <p><a href="cm_select_winners">ANNOUNCE WINNER </a></p>-->
<!--          <p><a href="cm_view_selected_winners">WINNERS OF THE MONTH </a></p>-->
<!--          <p><a href="cm_view_winners">WINNERS REPORT </a></p>-->
<!--          <p><a href="committee_pgms">PROGRAMMES OF COMMITTEE </a></p>-->
<!--          <p><a href="cm_view_temple_pgm">VIEW PROGRAMMES OF TEMPLE </a></p>-->
<!--          <p><a href="cm_view_payed_chitti">VIEW PAYED CHITTI</a> </p>-->
<!--          <p><a href="#">HISTORY</a></p>-->
<!--          <p><a href="cm_view_video">VIDEOS</a></p>-->
<!--          <p><a href="#">VIEW IN MAP </a></p>-->
<!--          <p><a href="/">LOGOUT</a></p></td>-->
<!--    </tr>-->
<!--  </table>-->

<!--</form>-->

</body>
{% endblock %}
