{% extends 'indexcommittee.html' %}
{% block body %}
<h1><center>Member-Paid Chitti Details</center></h1>

<body>
<form id="form1" name="form1" method="post" action="{% url 'cm_view_payed_chitti1' %}">
  <table width="273" height="89" border="1" id="customers">
    <tr>
      <th colspan="6"><center>CHITTI &nbsp;
       <select name="chittitype" class="btn btn-primary">
          {% for i in v %}
          <option value="{{i.id}}" {% if i.id == c %}selected{% endif %}>{{i.type}}</option>
          {% endfor %}
       </select>&nbsp;
       MONTH&nbsp;
        <select name="month" class="btn btn-primary">
          <option value="1" {% if mnth == 1 %}selected{% endif %}>JANUARY</option>
          <option value="2" {% if mnth == 2 %}selected{% endif %}>FEBRUARY</option>
          <option value="3" {% if mnth == 3 %}selected{% endif %}>MARCH</option>
          <option value="4" {% if mnth == 4 %}selected{% endif %}>APRIL</option>
          <option value="5" {% if mnth == 5 %}selected{% endif %}>MAY</option>
          <option value="6" {% if mnth == 6 %}selected{% endif %}>JUNE</option>
          <option value="7" {% if mnth == 7 %}selected{% endif %}>JULY</option>
          <option value="8" {% if mnth == 8 %}selected{% endif %}>AUGUST</option>
          <option value="9" {% if mnth == 9 %}selected{% endif %}>SEPTEMBER</option>
          <option value="10" {% if mnth == 10 %}selected{% endif %}>OCTOBER</option>
          <option value="11" {% if mnth == 11 %}selected{% endif %}>NOVEMBER</option>
          <option value="12" {% if mnth == 12 %}selected{% endif %}>DECEMBER</option>
        </select>&nbsp;
         <input type="submit" name="Submit2" value="SEARCH"  class="btn btn-primary"/></center>
		 
      </th>
    </tr>
      <tr align="center"><td colspan="5">{% if value %} {% if value != '0' %}<a class="btn btn-success"> {{value.status}} On {{value.date}}</a>
           {% else %}
          <a class="btn btn-danger"> Not Paid </a>

          {% endif %}

          {% endif %}

       </td></tr>
    <tr ALIGN="CENTER">
      <th colspan="2">MEMBERS</th>
      <th colspan="2"> </th>
      <!--<th colspan="1">DATE OF PAYMENT </th>-->
    </tr>
      {% for i in res %}
    <tr>
      <td colspan="2">&nbsp;{{i.member_id.first_name}}</td>
        <td colspan="2"><a href="{% url 'cm_view_payed_chitti2' id=i.id %}" class="btn btn-primary">CHECK STATUS</a>
       </td>
      <!--<td colspan="1">{{i.date}}</td>-->

    </tr>
      {% endfor %}

  </table>

</form>
</body>
{% endblock %}
