{% extends 'indexmember.html' %}
{% block body %}
<img style="height:550px;width:1600px;" src="./static/img/bg1.jpeg" alt="Image">

<body>
<!--<form id="form1" name="form1" method="post" action="">-->
<!--  <table width="200" border="1">-->
<!--    <tr>-->
<!--      <td><p><a href="mbr_view_winner">VIEW WINNER </a></p>-->
<!--          <p><a href="mbr_profile">PROFILE</a></p>-->
<!--          <p><a href="mbr_chitti_details">CHITTI DETAILS </a></p>-->
<!--          <p><a href="mbr_payment">PAYMENT OF CHITTI </a></p>-->
<!--          <p><a href="mbr_view_cm_pgm">VIEW PROGRAMMES OF COMMITTEE </a></p>-->
<!--          <p><a href="mbr_view_tmp_pgm">VIEW  PROGRAMS OF TEMPLE</a></p>-->
<!--          <p><a href="#">HISTORY</a></p>-->
<!--        <p><a href="mbr_view_video">VIDEOS</a></p>-->
<!--        <p><a href="/">LOGOUT</a></p></td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</form>-->
</body>
{% endblock %}