{% extends 'indexmember.html' %}
{% block body %}
<head><center><h2>Chitti  Details</h2></head></center>


<body>
<form id="form1" name="form1" method="post" action="mbr_chitti_details">
  <table width="657" height="89" border="1" id="customers">
     <tr align="center">
      <td colspan="3"> <center>CHITTI :
        <select name="chittitype" class="btn btn-info">
          {% for i in v %}
          <option value="{{i.id}}" {% if i.id  == count %} selected {% endif %}>{{i.type}}</option>
          {% endfor %}
        </select>
        <input type="submit" name="Submit" value="SEARCH" class="btn btn-info"/></center>
      </td>
    </tr>
    <tr>
      <th width="70">CHITTI NAME </th>
      <th width="109"> STARTING DATE OF CHITTI</th>
      <th width="109">WINNING AMOUNT</th>
      <th width="109"> DURATION</th>
      <th width="109">DEATAILS</th>
      <th width="109"> CHITTI AMOUNT</th>
      <th width="109"></th>
    </tr>
        {% for i in val %}

    <tr>
      <td>&nbsp;{{i.chitti_id.type}}</td>
      <td>{{i.chitti_id.date}}</td>
      <td>&nbsp;{{i.chitti_id.winning_amounts}}</td>
      <td>{{i.chitti_id.duration}}</td>
      <td>{{i.chitti_id.details}}</td>
      <td>{{i.chitti_id.chitti_amount}}</td>
      <td>&nbsp;{% if p == 0 %}<a href="{% url 'mbr_payment' id=i.id %}" class="btn btn-primary">MAKE PAYMENT</a><br>{% endif %}
        <BR><a href="{% url 'mbr_view_paid_chitti_status' id=i.id %}" class="btn btn-primary">PAYMENT HISTORY</a></td>
    </tr>
        {% endfor %}

  </table>
  <p>
    <label></label>
  </p>
</form>
</body>
{% endblock %}