
{% extends 'indexuser.html' %}
{% block body %}
     <img style="height:550px;width:1600px;" src="./static/img/bg1.jpeg" alt="Image">
<body>
<!--<form id="form1" name="form1" method="post" action="">-->
<!--  <table width="200" border="1">-->
<!--    <tr>-->
<!--      <td><p><a href="usr_view_aud">AUDITORIUM BOOKING </a></p>-->
<!--&lt;!&ndash;          usr_aud_booking&ndash;&gt;-->

<!--          <p><a href="usr_view_aud_bill">AUDITORIUM BOOKING BILL </a></p>-->
<!--          <p><a href="usr_profile">PROFILE</a></p>-->
<!--&lt;!&ndash;          <p><a href="usr_view_adv_payment">ADVANCE PAYMENT </a></p>&ndash;&gt;-->
<!--          <p><a href="usr_view_booking_sts">VIEW BOOKING STATUS </a></p>-->
<!--          <p><a href="usr_view_tmp_pgm">VIEW PROGRAMMES OF TEMPLE </a></p>-->
<!--          <p><a href="#">HISTORY</a></p>-->
<!--          <p><a href="usr_view_video">VIDEOS</a></p>-->
<!--          <p><a href="#">VIEW IN MAP </a></p>-->
<!--          <p><a href="/">LOGOUT</a></p></td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</form>-->
</body>
{% endblock %}
