{% extends 'indexuser.html' %}
{% block body %}
<h2><center>AUDITORIUM BILL</center></h2>
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="694" height="250" border="1" id="customers">
    <tr>
      <td width="176">NO</td>
      <td width="179"><input type="text" name="textfield10" /></td>
      <td width="138">DATE</td>
      <td width="173"><label>

      </label></td>
    </tr>
    <tr>
      <td>NAME</td>
      <td></td>
      <td colspan="2" rowspan="5">&nbsp;</td>
    </tr>
    <tr>
      <td>BOOKING ADVANCE FOR FUNCTION </td>
      <td></td>
    </tr>
    <tr>
      <td>BOOKING DATE </td>
      <td></td>
    </tr>
    <tr>
      <td>BOOKING TIME </td>
      <td></td>
    </tr>
    <tr>
      <td>AMOUNT</td>
      <td></td>
    </tr>
  </table>
  <p>&nbsp;
        <ol>
            <li>The advance amount paid will not be refunded if the booking is cancelled.</li>
            <li>Use of plastic plate & glasses are strictly prohibited in the Auditorium.</li>
            <li>If the rent is enhanced after booking ,the parties are to pay it.</li>

         </ol>
  </p>
</form>
</body>
{% endblock %}
